<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="rptSimpanan" connectionString="XpoProvider=InMemoryDataStore;data source=C:\Users\dimas\Documents\Visual Studio 2015\Projects\koperasi-app\koperasi-app\bin\Debug\Reports\rptSimpanan.xml;read only=True" />
    </connectionStrings>
</configuration>