<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="koperasi_app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="rptSimpanan" connectionString="XpoProvider=InMemoryDataStore;data source=C:\Users\dimas\Documents\Visual Studio 2015\Projects\koperasi-app\koperasi-app\bin\Debug\Reports\rptSimpanan.xml;read only=True" />
  </connectionStrings>
  <!--<appSettings>
    <add key="server" value="localhost" />
    <add key="username" value="root" />
    <add key="password" value="" />
    <add key="database" value="dbkoperasi" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <koperasi_app.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="database" serializeAs="String">
        <value>dbkoperasi</value>
      </setting>
    </koperasi_app.Properties.Settings>
  </userSettings>
</configuration>